@import "tailwindcss";

@font-face {
  font-family: "Megafield Regular";
  src: url("/fonts/Megafield-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans Variable";
  src: url("/fonts/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@theme {
  --font-megafield: "Megafield Regular", "serif";
  --font-general: "GeneralSans Variable", "sans-serif";

  /* --color-nier-50: #C1BDA2; */
  --color-nier-50: #c3bda8;
  --color-nier-100: #b8b29d;
  --color-nier-200: #b0ab98;
  --color-nier-300: #594e4a;
  --color-nier-400: #4b413d;
}

/* * {
  border: 1px solid red;
} */